<div class="jumbotron content">
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="logo">{{ 'job.title' | translate }}</div>
      </div>
      <div class="col-md-4"></div>

      <div class="row">
        <div style="width:5%"></div>
        <div style="width:90%" *ngIf="jobs">
          <ul class="mdc-image-list my-image-list " >
            <div *ngFor="let job of jobs | async">
              <li class="mdc-image-list__item my-image-list-item">
                <div class="mdc-image-list__supporting">
                  <span class="mdc-image-list__label">{{job.car.model.title}} {{job.car.year}}</span>
                </div>
                <div class="img-container">
                  <button type="button" class="btn btn-primary" (click)="showJob(job)"></button>
                  <img class="mdc-image-list__image img-job" [src]="job.carUrl" onError="this.src='./assets/audi.jpg';"/>
                </div>
                <div>
                  <mdc-card-actions>
                    <mdc-card-action-icons>
                      <!--<div mdcMenuSurfaceAnchor #menuSurfaceAnchor>-->
                        <!--<button mdcIconButton mdc-button raised (click)="menuSurface.open = !menuSurface.open">-->
                      <button mdcIconButton (click)="showSummary(job, content)">
                          <mdc-icon>description</mdc-icon>
                        </button>
                      <!--</div>-->
                      <button mdcIconButton (click)="showTask(job)">
                        <mdc-icon>toc</mdc-icon>
                      </button>
                      <button mdcIconButton (click)="showDetails(job)">
                        <mdc-icon>input</mdc-icon>
                      </button>
                    </mdc-card-action-icons>
                  </mdc-card-actions>
                </div>
              </li>
            </div>
          </ul>


          <!--<mdc-menu-surface #menuSurface class="demo-menu-surface&#45;&#45;one"-->
                            <!--[hoistToBody]="false" [anchorElement]="menuSurfaceAnchor"-->
                            <!--[anchorCorner]="topStart" [quickOpen]="false"-->
                            <!--[fixed]="false" [anchorMargin]="{top: 0, bottom: 0, left: 0, right: 0}">-->
            <!--<mdc-list #twoline twoLine>-->
              <!--<mdc-list-item>-->
                <!--<mdc-list-item-text [secondaryText]="job.car.vin">-->
                  <!--{{job.car.model.make.title}} {{job.car.model.title}} {{job.car.year}}-->
                <!--</mdc-list-item-text>-->
              <!--</mdc-list-item>-->
              <!--<mdc-list-item>{{job.status.status}}</mdc-list-item>-->
              <!--<mdc-list-item *ngFor="task of tasks.get(job.idJob)">-->
              <!--<mdc-list-item-text [secondaryText]="task.user.name">-->
                <!--{{task.name}} {{task.status.status}}-->
              <!--</mdc-list-item-text>-->
            <!--</mdc-list-item>-->
            <!--</mdc-list>-->
          <!--</mdc-menu-surface>-->


          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">{{ 'job.summary.title' | translate }}</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div style="width:65%">
                  <mdc-list #twoline twoLine>
                    <mdc-list-item>
                      <mdc-list-item-text [secondaryText]="selectedJob.car.vin">
                      {{selectedJob.car.model.make.title}} {{selectedJob.car.model.title}} {{selectedJob.car.year}}
                      </mdc-list-item-text>
                    </mdc-list-item>
                  </mdc-list>
                </div>
                <div style="width:35%">
                  <div class="mdc-select " #jobStatus>
                    <i class="mdc-select__dropdown-icon"></i>
                    <select id="shaped_outlined" class="mdc-select__native-control"
                            [(ngModel)]="selectedJob.status.idStatus">
                        <!--TODO: {{selectedJob.status.status}}-->
                        <option *ngFor="let status of statusArr | async" [ngValue]="status.idStatus">
                          {{ status.status }}
                        </option>
                    </select>
                    <label for="shaped_outlined" class="mdc-floating-label mdc-floating-label--float-above">
                      {{'job.status.placeholder' | translate}}
                    </label>
                    <!--<div class="mdc-notched-outline">-->
                      <!--<svg>-->
                        <!--<path class="mdc-notched-outline__path"></path>-->
                      <!--</svg>-->
                    <!--</div>-->
                    <!--<div class="mdc-notched-outline__idle"></div>-->
                    <div class="mdc-line-ripple"></div>
                  </div>
                </div>
              </div>

              <div class="row" *ngFor="let task of tasks">
                <div style="width:75%">
                  <mdc-list #twoline twoLine>
                    <mdc-list-item *ngIf="task.user">
                      <!--TODO: elapsedTime/totalTime-->
                      <mdc-list-item-text [secondaryText]="task.user.name">
                      {{task.name}} {{task.time}}
                      </mdc-list-item-text>
                    </mdc-list-item>
                    <mdc-list-item *ngIf="!task.user" class="one-line-item">
                      {{task.name}} {{task.time}}
                    </mdc-list-item>
                  </mdc-list>
                </div>
                <div style="width:25%">
                  {{task.status.status}}
                </div>
              </div>
            </div>
            <div class="modal-footer">
            </div>
          </ng-template>




        </div>
        <div style="width:5%"></div>
      </div>
    </div>
  </div>
</div>

