<div class="jumbotron content">
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="logo">{{ 'job.title' | translate }}</div>
      </div>
      <div class="col-md-4"></div>

      <div class="row">
        <div style="width:5%"></div>
        <div style="width:90%" *ngIf="jobs">
          <div class="job-container" *ngFor="let job of jobs | async">
            <div class="job-title">{{job.car.model.title}} {{job.car.year}}</div>
            <button type="button" class="btn btn-primary" (click)="showJob(job)"></button>
            <img class="img-job" [src]="job.carUrl" onError="this.src='./app/assets/audi.jpg';"/>
          </div>
        </div>
        <div style="width:5%"></div>
      </div>
    </div>
  </div>
</div>
