.one-line-item {
  align-items: unset;
  padding: 10px 0px 0px 16px !important;
}

.mat-slider-wrapper .mat-slider-thumb {
  background-color: #04A6E4;
}

::ng-deep .mat-accent .mat-slider-thumb {
  background-color: #04A6E4;
}

::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: #04A6E4;
}

::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: #04A6E4;
}

::ng-deep .mat-slider-thumb-label {
    top: -22px !important;
    }

::ng-deep .mat-slider-thumb-label {
      transform: rotate(45deg) !important;
      border-radius: 50% 50% 0 !important;
    }

::ng-deep .mat-slider-thumb {
      transform: scale(0) !important;
    }

::ng-deep .mat-slider-thumb-label-text {
      opacity: 1 !important;
    }




