<div class="jumbotron content">
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="logo">{{ 'jobinspect.title' | translate }}</div>
      </div>
      <div class="col-md-4"></div>
    </div>

    <div class="row">
      <div>
        <!--<img id="image" src="../assets/car-damage.png" width="700" height="1007" usemap="#Map" >-->
        <img id="image" src="../assets/car-damage.png" width="300" height="432" usemap="#Map" >
        <map name="Map">
          <!--<area class="blue" onclick="myFunction()" shape="poly" coords="2318,480,1510,1284" href="#">-->
          <!--<area target="" alt="Roof" title="Roof" href="#roof" coords="264,438,435,638" shape="rect">-->
          <!--<area target="" alt="Back window" title="Back window" href="#ba_window" coords="274,652,345,649,426,654,442,712,443,753,256,753,258,715" shape="poly">-->
          <!--<area target="" alt="Hood" title="Hood" href="#hood" coords="238,348,463,163,447,422,239,348,242,224,269,406,350,394" shape="rect">-->
          <!--<area target="" alt="Front window" title="Front window" href="#fr_window" coords="240,348,461,434" shape="rect">-->
          <!--<area target="" alt="Trunk" title="Trunk" href="#trunk" coords="238,761,464,846" shape="rect">-->
          <!--<area target="" alt="Front left door" title="Front left door" href="#fr_l_door" coords="74,352,187,519" shape="rect">-->
          <!--<area target="" alt="Rear left door" title="Rear left door" href="#re_l_door" coords="76,528,186,525,187,670,162,681,125,641,74,617" shape="poly">-->
          <!--<area target="" alt="Front right door" title="Front right door" href="#fr_r_door" coords="516,349,629,522" shape="rect">-->
          <!--<area target="" alt="Rear right door" title="Rear right door" href="#re_r_door" coords="517,525,625,529,627,619,583,635,559,659,543,681,516,667" shape="poly">-->
          <!--<area target="" alt="Front left window" title="Front left window" href="#fr_l_window" coords="192,364,240,449,246,519,190,512" shape="poly">-->
          <!--<area target="" alt="Rear left window" title="Rear left window" href="#re_l_window" coords="191,530,245,535,243,612,190,654" shape="poly">-->
          <!--<area target="" alt="Front right window" title="Front right window" href="#fr_r_window" coords="512,363,514,516,455,519,459,456" shape="poly">-->
          <!--<area target="" alt="Rear right window" title="Rear right window" href="#re_r_window" coords="457,533,512,530,513,658,458,611" shape="poly">-->
          <!--<area target="" alt="Front left wheel" title="Front left wheel" href="#fr_l_wheel" coords="82,272,47" shape="circle">-->
          <!--<area target="" alt="Rear left wheel" title="Rear left wheel" href="#re_l_wheel" coords="83,693,47" shape="circle">-->
          <!--<area target="" alt="Front right wheel" title="Front right wheel" href="#fr_r_wheel" coords="618,273,45" shape="circle">-->
          <!--<area target="" alt="Rear right wheel" title="Rear right wheel" href="#re_r_wheel" coords="617,692,44" shape="circle">-->
          <!--<area target="" alt="Front bumper" title="Front bumper" href="#fr_bumper" coords="482,62,222,16" shape="rect">-->
          <!--<area target="" alt="Back bumper" title="Back bumper" href="#ba_bumper" coords="492,961,219,914" shape="rect">-->
          <!--<area target="" alt="Front left light" title="Front left light" href="#fr_l_light" coords="237,63,272,88" shape="rect">-->
          <!--<area target="" alt="Front right light" title="Front right light" href="#fr_r_light" coords="424,61,462,90" shape="rect">-->
          <!--<area target="" alt="Back left light" title="Back left light" href="#ba_l_light" coords="220,879,270,914" shape="rect">-->
          <!--<area target="" alt="Back right light" title="Back right light" href="#ba_r_light" coords="425,880,480,913" shape="rect">-->
          <!--<area target="" alt="Front left rocker" title="Front left rocker" href="#fr_l_rocker" coords="99,147,165,184,194,349,101,340,130,304,133,255,96,211" shape="poly">-->
          <!--<area target="" alt="Front right rocker" title="Front right rocker" href="#fr_r_rocker" coords="538,186,602,154,606,216,566,262,569,298,606,344,514,343" shape="poly">-->
          <!--<area target="" alt="Rear left rocker" title="Rear left rocker" href="#re_l_rocker" coords="95,632,138,689,133,715,95,746,96,826,178,819,187,759,185,688" shape="poly">-->
          <!--<area target="" alt="Rear right rocker" title="Rear right rocker" href="#re_r_rocker" coords="516,676,603,635,567,685,569,715,607,747,607,830,517,811" shape="poly">-->

            <area target="" alt="Hood" title="Hood" href="" coords="103,71,196,148" shape="rect">
            <area target="" alt="Front window" title="Front window" href="" coords="102,151,199,151,187,187,114,186" shape="poly">
            <area target="" alt="Roof" title="Roof" href="" coords="113,188,187,274" shape="rect">
            <area target="" alt="Back window" title="Back window" href="" coords="117,282,181,281,190,320,109,320" shape="poly">
            <area target="" alt="Trunk" title="Trunk" href="" coords="100,322,200,360" shape="rect">
            <area target="" alt="Back bumper" title="Back bumper" href="" coords="94,394,207,411" shape="rect">
            <area target="" alt="Back left light" title="Back left light" href="" coords="90,372,119,393" shape="rect">
            <area target="" alt="Back right light" title="Back right light" href="" coords="184,374,208,394" shape="rect">
            <area target="" alt="Front bumper" title="Front bumper" href="" coords="93,5,208,26" shape="rect">
            <area target="" alt="Front left light" title="Front left light" href="" coords="98,27,120,41" shape="rect">
            <area target="" alt="Front right light" title="Front right light" href="" coords="182,27,201,39" shape="rect">
            <area target="" alt="Front left door" title="Front left door" href="" coords="32,149,79,222" shape="rect">
            <area target="" alt="Front right door" title="Front right door" href="" coords="221,151,268,223" shape="rect">
            <area target="" alt="Rear left door" title="Rear left door" href="" coords="32,224,81,225,80,289,58,277,32,261" shape="poly">
            <area target="" alt="Rear right door" title="Rear right door" href="" coords="223,226,269,228,269,265,233,289,221,279" shape="poly">
            <area target="" alt="Front left rocker" title="Front left rocker" href="" coords="43,64,59,115,37,146,83,148,73,80" shape="poly">
            <area target="" alt="Front right rocker" title="Front right rocker" href="" coords="232,80,221,148,268,148,245,116,268,76" shape="poly">
            <area target="" alt="Rear left rocker" title="Rear left rocker" href="" coords="33,269,59,301,33,340,73,357,78,293" shape="poly">
            <area target="" alt="Rear right rocker" title="Rear right rocker" href="" coords="269,268,243,295,269,353,225,355,223,291" shape="poly">
            <area target="_top" alt="Front left wheel" title="Front left wheel" href="" coords="35,117,19" shape="circle">
            <area target="_top" alt="Front right wheel" title="Front right wheel" href="" coords="265,117,21" shape="circle">
            <area target="_top" alt="Rear left wheel" title="Rear left wheel" href="" coords="36,297,20" shape="circle">
            <area target="_top" alt="Rear right wheel" title="Rear right wheel" href="" coords="265,297,19" shape="circle">
        </map>
      </div>

      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{ 'jobinspect.task.title' | translate }}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            {{ selectedPart.name }}
            <div class="task">
              <div class="mdc-select mdc-select--outlined demo-select-outline-shaped" #partTask>
                <i class="mdc-select__dropdown-icon"></i>
                <select class="mdc-select__native-control shaped outlined"
                        [(ngModel)]="selectedPart.task.id"
                        (change)="setSelectedTaskPart(selectedPart, $event)">
                  <option *ngFor="let task of taskArr | async" [ngValue]="task.id">
                    {{ task.name }}
                  </option>
                </select>
                <div class="mdc-notched-outline">
                  <svg>
                    <path class="mdc-notched-outline__path"></path>
                  </svg>
                </div>
                <div class="mdc-notched-outline__idle"></div>
              </div>
              <!-- TODO: Ajouter temps par défaut avec un sélecteur pour augmenter/réduire à coup de 15 minutes -->
            </div>
          </div>
          <div class="form text-left">
            <button (click)="onSubmit(selectedPart, tasks)" type="submit" class="mdc-button mdc-button--raised ">
              {{ 'jobinspect.submit' | translate}}
            </button>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </ng-template>

      <div class="row" *ngFor="let task of partTasks">
        <div style="width:100%" class="mdc-list--dense">
          <mdc-list #twoline twoLine>
            <mdc-list-item class="two-line-item">
              <mdc-list-item-text [secondaryText]="task.name">
                {{task.carArea.name}}
              </mdc-list-item-text>
            </mdc-list-item>
          </mdc-list>
        </div>

      </div>
  </div>
</div>
