<div class="content">
  <mat-app-background fxLayout="column" fxLayoutAlign="center center">
    <h2 mat-dialog-title>{{ 'jobdetails.title' | translate }}</h2>
    <form class="form" method="POST" enctype="multipart/form-data">
      <div id="yourBtn" class="upload-btn" (click)="getFile()">
        <mat-icon aria-label="Upload">save_alt</mat-icon>
        <input id="upload" type="file" class="upload-input" (change)="onFileChanged($event)" multiple/>
      </div>
    </form>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{ 'jobdetails.table.file' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <a [href]="element.url" download="{{element.name}}">{{element.name}}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="file">
          <th mat-header-cell *matHeaderCellDef>{{ 'jobdetails.table.preview' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element && element.isImage && element.file" class="img-container">
              <button type="button" class="btn btn-primary" (click)="showPreview(element, content)"></button>
              <img class="img-details" [src]="'data:image/jpg;base64,'+element.file"/>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="onDelete(element.id)">
              <mat-icon aria-label="Summary">delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
</mat-app-background>
</div>
