.img-details {
  max-width: 50px;
  max-height: 40px;
}

.table-details {
  margin-top: 5px;
}

.upload-btn {
  height: 50px;
  width: 200px;
  border: 1px dashed #BBB;
  cursor: pointer;
  color: black !important;
  padding: 12.5px;
  display: inline-block;
}

.upload-input {
  height: 0px;
  width:0px;
  overflow:hidden;
}

.img-preview {
  max-width: 275px;
  max-height: 200px;
}

.carousel {
  height: 200px;
}

.img-container {
  position: relative;
  width: 50%;
}

.img-container img {
  width: 100%;
  height: auto;
}

.img-container .btn {
  position: absolute;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
