<div class="jumbotron content">
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="logo">{{ 'jobdetails.title' | translate }}</div>
      </div>
      <div class="col-md-4"></div>
    </div>

    <div class="row">
      <div style="width:5%"></div>
      <div style="width:90%">
        <div class="group form text-center">
          <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
            <div id="yourBtn" class="upload-btn" (click)="getFile()">
              <fa-icon [icon]="faFileUpload" class="fa-lg"></fa-icon>
              <input id="upload" type="file" class="upload-input" (change)="onFileChanged($event)" multiple/>
            </div>
          </form>
        </div>
      </div>
      <div style="width:5%"></div>
    </div>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ 'jobdetails.preview.title' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ngb-carousel *ngIf="imageFiles">
          <ng-template ngbSlide class="slide" *ngFor="let file of imageFiles;">
            <img [src]="'data:image/jpg;base64,'+file.file" (alt)="file.name" class="img-preview img-fluid">
          </ng-template>
        </ngb-carousel>
      </div>
      <div class="modal-footer">
      </div>
    </ng-template>

    <div class="row">
      <div style="width:100%">
        <table class="table table-striped table-details" [mfData]="getFilesValues()" #mf="mfDataTable">
          <thead>
          <tr>
            <th>{{ 'jobdetails.table.file' | translate }}</th>
            <th>{{ 'jobdetails.table.preview' | translate }}</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let file of mf.data">
              <td>
                <a [href]="file.url" download="{{file.name}}">{{file.name}}</a>
              </td>
              <td>
                <div *ngIf="file && file.isImage && file.file" class="img-container">
                  <button type="button" class="btn btn-primary" (click)="showPreview(file, content)"></button>
                  <img class="img-details" [src]="'data:image/jpg;base64,'+file.file"/>
                </div>
              </td>
              <td>
                <button (click)="onDelete(file.id)" type="submit" class="submit-button">
                  <span>
                    <fa-icon [icon]="faMinusCircle" class="fa-sm"></fa-icon>
                  </span>
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot></tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
