<ul class="nav flex-sm-column">
  <li class="nav-item">
    <a class="nav-link" routerLink="/login">{{ 'menu.login' | translate}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/job-new">{{ 'menu.job' | translate}}</a>
    <!--<a class="nav-link" href="#">{{ 'menu.job' | translate}}</a>-->
  </li>
  <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="#">{{ 'menu.login' | translate}}</a>-->
  <!--</li>-->
  <!--<li class="nav-item">-->
    <!--<a class="nav-link disabled" href="#">Disabled</a>-->
  <!--</li>-->
</ul>

<!--<nav>-->
<!--<a routerLink="/login">Login</a>-->
<!--</nav>-->