<button [matMenuTriggerFor]="menu">
  <mat-icon aria-label="Menu" class="material-icons md-36">menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="user">{{'menu.user' | translate}}</button>
  <button mat-menu-item [matMenuTriggerFor]="job">{{'menu.job' | translate}}</button>
  <button mat-menu-item routerLink="/client">{{'menu.client' | translate}}</button>
</mat-menu>

<mat-menu #user="matMenu">
  <button mat-menu-item routerLink="/login">{{'menu.user.login' | translate}}</button>
  <button mat-menu-item routerLink="/user-task">{{'menu.user.task' | translate}}</button>
</mat-menu>

<mat-menu #job="matMenu">
  <button mat-menu-item routerLink="/job">{{'menu.job.list'| translate}}</button>
  <button mat-menu-item routerLink="/job-new">{{'menu.job.new'| translate}}</button>
</mat-menu>
