<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<div class="dark_overlay">
  <div class="container">

<div style="text-align:center" class="header">
  <!--<h1>-->
    <!--{{ 'title' | translate }}-->
  <!--</h1>-->
  <img style="width:75%; max-width:250px" alt="Versatile Auto Logo" src="../assets/versatile.png">
  <app-menu></app-menu>
  <app-messages></app-messages>
</div>

<!--<nav>-->
<!--<a routerLink="/login">Login</a>-->
<!--</nav>-->
<router-outlet></router-outlet>
  </div>
</div>
</html>
