<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script>
  // Initialize Firebase

  firebase.initializeApp(config);

  </script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!--<link rel="stylesheet" href="bundle.css">-->
  <!--<link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" />-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
  <!--<script type="text/javascript" src="../jquery.maphilight.min.js"></script>-->
  <script type="text/javascript" src="../jquery.min.js"></script>
  <script type="text/javascript" src="http://davidlynch.org/js/maphilight/jquery.maphilight.min.js"></script>
</head>

<div class="dark_overlay">
  <div class="container">

<div style="text-align:center" class="header" fxLayout="row" fxLayoutAlign="space-between center">
  <app-menu></app-menu>
  <img style="width:70%; max-width:250px" alt="Versatile Auto Logo" src="../assets/versatile.png">

  <ngx-avatar *ngIf="user && user.image;else no_image" (click)="onUserClick()" [name]="user.name"
              [src]="'data:image/jpg;base64,'+user.image" size="40" [round]="true"></ngx-avatar>
  <ng-template #no_image>
    <ngx-avatar *ngIf="user;else no_user" (click)="onUserClick()" [name]="user.name"
                size="40" [round]="true"></ngx-avatar>
  </ng-template>
  <ng-template #no_user>
    <ngx-avatar name="N A" bgColor="red" size="40" [round]="true"></ngx-avatar>
  </ng-template>
</div>
<div fxLayout="column" fxLayoutAlign="center center">
  <app-messages></app-messages>
</div>

<!--<nav>-->
<!--<a routerLink="/login">Login</a>-->
<!--</nav>-->
<router-outlet></router-outlet>
  </div>
</div>
</html>
