h1 {
  color: #2B2728;
  font-family: Courier, monospace;
  font-size: 25px;
}
html,
body {
  padding: 30px;
  background-color: rgba(0,0,0,1);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../assets/audi.jpg");
  background-position: center;
  /*position: relative;*/
}
.header {
  background: #B9B9B9;
  width: 100%;
}
