<div class="content">
  <mat-app-background fxLayout="column" fxLayoutAlign="center center">
    <h2 mat-dialog-title>{{ 'jobtask.title' | translate }}</h2>
    <form [formGroup]="taskForm" class="form">
      <mat-form-field>
        <input matInput placeholder="{{ 'jobtask.name.placeholder' | translate }}" [formControl]="name" required>
        <mat-error *ngIf="name.invalid">{{ 'jobtask.name.error' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="{{ 'jobtask.priority.placeholder' | translate }}" [formControl]="priority" required>
        <mat-error *ngIf="priority.invalid">{{ 'jobtask.priority.error' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="categories | async; let categories; else loadingCategory">
        <mat-select placeholder="{{ 'jobtask.category.placeholder' | translate }}" [compareWith]="compareCategory"
                    [formControl]="category" [change]="onCategorySelect()" required>
          <mat-option *ngFor="let category of categories" [value]="category">
            {{category.description}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="category.invalid">{{ 'jobtask.category.error' | translate }}</mat-error>
      </mat-form-field>
      <ng-template #loadingCategory>{{ 'jobtask.category.loading' | translate }}</ng-template>

      <mat-form-field *ngIf="employees | async; let employees; else loadingEmployee">
        <mat-select placeholder="{{ 'jobtask.assignation.placeholder' | translate }}" [compareWith]="compareEmployee"
                    [formControl]="assignation">
          <mat-option *ngFor="let employee of employees" [value]="employee">
            {{employee.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-template #loadingEmployee>{{ 'jobtask.assignation.loading' | translate }}</ng-template>

      <mat-form-field>
        <input matInput placeholder="{{ 'jobtask.time.placeholder' | translate }}" [formControl]="time" required>
        <mat-error *ngIf="time.invalid">{{ 'jobtask.time.error' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="statusArr | async; let statusArr; else loadingStatus">
        <mat-select placeholder="{{ 'jobtask.status.placeholder' | translate }}" [compareWith]="compareStatus"
                    [formControl]="status" required>
          <mat-option *ngFor="let statusObj of statusArr" [value]="statusObj">
            {{statusObj.status}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="status.invalid">{{ 'jobtask.status.error' | translate }}</mat-error>
      </mat-form-field>
      <ng-template #loadingStatus>{{ 'jobtask.status.loading' | translate }}</ng-template>
    </form>

    <div fxLayout="row">
      <button mat-icon-button (click)="onSubmit()">
        <mat-icon *ngIf="isCreate" aria-label="Create">add_box</mat-icon>
        <mat-icon *ngIf="isModify" aria-label="Update">save</mat-icon>
      </button>

      <button mat-icon-button (click)="onErase()">
        <mat-icon aria-label="Reset">undo</mat-icon>
      </button>
    </div>

    <!--<div fxLayout="row wrap" fxLayoutGap="0.5%" fxLayoutAlign="center">-->
      <!--<mat-card class="card" *ngFor="let job of jobs | async">-->
        <!--<mat-card-header fxLayout="row" fxLayoutAlign="center">-->
          <!--<mat-card-title>{{job.car.model.title}} {{job.car.year}}</mat-card-title>-->
        <!--</mat-card-header>-->
        <!--<img mat-card-md-image class="img-job" (click)="showJob(job)" [src]="job.carUrl" onError="this.src='./assets/audi.jpg';"/>-->
        <!--<mat-card-actions fxLayout="row" fxLayoutAlign="center">-->
          <!--<button mat-icon-button (click)="showSummary(job, content)">-->
            <!--<mat-icon aria-label="Summary">description</mat-icon>-->
          <!--</button>-->
        <!--</mat-card-actions>-->
      <!--</mat-card>-->
    <!--</div>-->
  </mat-app-background>
</div>

    <!--<div class="row">-->
      <!--<div style="width:100%">-->
        <!--<table class="table table-striped table-task" [mfData]="getTasksValues()" #mf="mfDataTable">-->
          <!--<thead>-->
            <!--<tr>-->
              <!--<th>-->
                <!--<mfDefaultSorter by="priority">{{ 'jobtask.table.priority' | translate }}</mfDefaultSorter>-->
              <!--</th>-->
              <!--<th>-->
                <!--<mfDefaultSorter by="name">{{ 'jobtask.table.name' | translate }}</mfDefaultSorter>-->
              <!--</th>-->
              <!--<th>-->
                <!--<mfDefaultSorter by="status">{{ 'jobtask.table.status' | translate }}</mfDefaultSorter>-->
              <!--</th>-->
              <!--<th></th>-->
            <!--</tr>-->
          <!--</thead>-->
          <!--<tbody>-->
            <!--<tr *ngFor="let task of mf.data">-->
              <!--<td>-->
                <!--<button (click)="toUpdate(task.id)" type="submit" class="submit-button">-->
                  <!--<span>-->
                    <!--<fa-icon [icon]="faEdit" class="fa-sm"></fa-icon>-->
                  <!--</span>-->
                <!--</button>-->
                <!--{{task.priority}}-->
              <!--</td>-->
              <!--<td>{{task.name}}</td>-->
              <!--<td>-->
                <!--{{task.status.status}}-->
              <!--</td>-->
              <!--<td>-->
                <!--<button (click)="onDelete(task.id)" type="submit" class="submit-button" style="text:center;">-->
                  <!--<span>-->
                    <!--<fa-icon [icon]="faMinusCircle" class="fa-sm"></fa-icon>-->
                  <!--</span>-->
                <!--</button>-->
              <!--</td>-->
            <!--</tr>-->
          <!--</tbody>-->
          <!--<tfoot></tfoot>-->
        <!--</table>-->
        <!--<button (click)="toJobDetails()" type="submit" class="submit-button btn-next">-->
          <!--<span>-->
            <!--<fa-icon [icon]="faArrowCircleRight" class="fa-lg"></fa-icon>-->
          <!--</span>-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
