<div class="content">
  <mat-app-background fxLayout="column" fxLayoutAlign="center center">
    <h2 mat-dialog-title>{{ 'jobtask.title' | translate }}</h2>
    <form [formGroup]="taskForm" class="form">
      <mat-form-field>
        <input matInput placeholder="{{ 'jobtask.name.placeholder' | translate }}" [formControl]="name" required>
        <mat-error *ngIf="name.invalid">{{ 'jobtask.name.error' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="{{ 'jobtask.priority.placeholder' | translate }}" [formControl]="priority" required>
        <mat-error *ngIf="priority.hasError('required')">{{ 'jobtask.priority.error' | translate }}</mat-error>
        <mat-error *ngIf="priority.hasError('min')">{{ 'jobtask.priority.error.min' | translate }}</mat-error>
        <mat-error *ngIf="priority.hasError('pattern')">{{ 'jobtask.priority.error.pattern' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="categories | async; let categories; else loadingCategory">
        <mat-select placeholder="{{ 'jobtask.category.placeholder' | translate }}" [compareWith]="compareCategory"
                    [formControl]="category" (selectionChange)="onCategorySelect()" required>
          <mat-option *ngFor="let category of categories" [value]="category">
            {{category.description}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="category.invalid">{{ 'jobtask.category.error' | translate }}</mat-error>
      </mat-form-field>
      <ng-template #loadingCategory>{{ 'jobtask.category.loading' | translate }}</ng-template>

      <mat-form-field *ngIf="employees; let employees; else noEmployee">
        <mat-select placeholder="{{ 'jobtask.assignation.placeholder' | translate }}" [compareWith]="compareEmployee"
                    [formControl]="assignation">
          <mat-option *ngFor="let employee of employees" [value]="employee">
            {{employee.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-template #noEmployee>{{ 'jobtask.assignation.not.found' | translate }}</ng-template>

      <mat-form-field>
        <input matInput placeholder="{{ 'jobtask.time.placeholder' | translate }}" [formControl]="time" required>
        <mat-error *ngIf="time.hasError('required')">{{ 'jobtask.time.error' | translate }}</mat-error>
        <mat-error *ngIf="time.hasError('min')">{{ 'jobtask.time.error.min' | translate }}</mat-error>
        <mat-error *ngIf="time.hasError('pattern')">{{ 'jobtask.time.error.pattern' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="statusArr | async; let statusArr; else loadingStatus">
        <mat-select placeholder="{{ 'jobtask.status.placeholder' | translate }}" [compareWith]="compareStatus"
                    [formControl]="status" required>
          <mat-option *ngFor="let statusObj of statusArr" [value]="statusObj">
            {{statusObj.status}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="status.invalid">{{ 'jobtask.status.error' | translate }}</mat-error>
      </mat-form-field>
      <ng-template #loadingStatus>{{ 'jobtask.status.loading' | translate }}</ng-template>
    </form>

    <div fxLayout="row">
      <button mat-icon-button (click)="onSubmit()">
        <mat-icon *ngIf="isCreate" aria-label="Create">add_box</mat-icon>
        <mat-icon *ngIf="isModify" aria-label="Update">save</mat-icon>
      </button>

      <button mat-icon-button (click)="onErase()">
        <mat-icon aria-label="Reset">undo</mat-icon>
      </button>
    </div>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-striped">
        <ng-container matColumnDef="priority">
          <th mat-header-cell *matHeaderCellDef>{{ 'jobtask.table.priority' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <div fxLayout="row" fxLayoutAlign="center center">
              <button mat-icon-button (click)="toUpdate(element.id)">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>
              {{element.priority}}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{ 'jobtask.table.name' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            {{element.name}}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>{{ 'jobtask.table.status' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            {{element.status.status}}
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="onDelete(element.id)">
              <mat-icon aria-label="Delete">delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    <button mat-icon-button (click)="toJobDetails()">
      <mat-icon aria-label="Next">arrow_forward_ios</mat-icon>
    </button>
  </mat-app-background>
</div>
