<mat-dialog #content>
  <h2 mat-dialog-title>{{ 'jobinspect.task.title' | translate }}</h2>
  <mat-dialog-content>
    <mat-list>
      <mat-list-item *ngFor="let task of data.tasks | async">

        <span *ngIf="jobTasksCarAreaSelByTaskId.get(task.idTask); let jobTask; else templateTask">
          <mat-checkbox [(ngModel)]="jobTask.task.checked" [labelPosition]="after">{{ jobTask.task.name }}</mat-checkbox>
          <mat-slider [max]="300" [min]="15" [step]="15" [thumbLabel]="true"
                      [displayWith]="formatLabel" [tickInterval]="30" [(ngModel)]="jobTask.estimatedTime">
          </mat-slider>
        </span>
        <ng-template #templateTask>
          <mat-checkbox [(ngModel)]="task.checked" [labelPosition]="after">{{ task.name }}</mat-checkbox>
          <mat-slider [max]="300" [min]="15" [step]="15" [thumbLabel]="true"
                      [displayWith]="formatLabel" [tickInterval]="30" [(ngModel)]="task.avgTime">
          </mat-slider>
        </ng-template>
      </mat-list-item>
    </mat-list>

    <mat-form-field>
      <mat-select [(ngModel)]="data.selectedCarArea">
        <mat-option *ngFor="let carArea of data.carAreas | async" [value]="carArea">
          {{ ('jobinspect.carpart.' + carArea.code) | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="column" fxLayoutAlign="center center">
    <button mat-raised-button color="primary" (click)="onSubmit(data.selectedCarArea, data.tasks)">
      {{ 'jobinspect.submit' | translate}}
    </button>
  </mat-dialog-actions>
</mat-dialog>



