<div class="content">
  <mat-app-background fxLayout="column" fxLayoutAlign="center center">
    <h2 *ngIf="!isModify" mat-dialog-title>{{ 'jobnew.title' | translate }}</h2>
    <h2 *ngIf="isModify && jobToModify" mat-dialog-title>{{ 'jobnew.modify.title' | translate }} #{{ jobToModify.idJob }}</h2>
    <form [formGroup]="carForm" class="form">
      <mat-form-field>
        <input matInput placeholder="{{ 'jobnew.description.label' | translate  }}" [formControl]="description" required>
        <mat-error *ngIf="description.invalid">{{ 'jobnew.description.error' | translate  }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="{{ 'jobnew.vin.label' | translate  }}" [formControl]="vin" required minlength=17
               (change)="getCarFromVin()">
        <mat-error *ngIf="vin.hasError('required')">{{ 'jobnew.vin.required.error' | translate }}</mat-error>
        <mat-error *ngIf="vin.hasError('pattern')">{{ 'jobnew.vin.length.error' | translate }}</mat-error>
      </mat-form-field>

      <mat-card *ngIf="car && car.model">
        <mat-card-header fxLayout="row" fxLayoutAlign="center">
          <mat-card-title>{{car.model.make.title}} {{car.model.title}}</mat-card-title>
          <mat-card-subtitle>{{car.year}} {{car.vin}}</mat-card-subtitle>
        </mat-card-header>
        <img class="img-job" [src]="car.imageUrl"/>
      </mat-card>

      <mat-form-field *ngIf="statusArr | async; let statusArr; else loadingStatus">
        <!--[formControl]="status"-->
        <mat-select placeholder="{{ 'jobnew.status.placeholder' | translate }}" [compareWith]="compareStatus"
                    [formControl]="status" required>
          <mat-option *ngFor="let statusObj of statusArr" [value]="statusObj">
            {{statusObj.status}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="status.invalid">{{ 'jobnew.status.error' | translate }}</mat-error>
      </mat-form-field>
      <ng-template #loadingStatus>{{ 'jobnew.status.loading' | translate  }}</ng-template>

      <mat-form-field>
        <input matInput [matDatepicker]="picker" [formControl]="arrivalDate"
               placeholder="{{ 'jobnew.arrivalDate.placeholder' | translate }}">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="pickerTo" [formControl]="toDeliverDate"
               placeholder="{{ 'jobnew.toDeliverDate.placeholder' | translate }}">
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
      </mat-form-field>
    </form>

    <button mat-raised-button color="primary" (click)="onSubmit()">
      {{ 'jobnew.submit' | translate }}
    </button>
  </mat-app-background>
</div>
