/*=== 9. Misc ===*/
.logo {
  padding: 15px 0;
  font-size: 25px;
  color: #2B2728;
  font-family: Courier, monospace;
  font-weight: bold;
  margin-left: 11px;
  text-align: center;
}
.job-form-1 {
  max-width: 300px;
  border-radius: 5px;
  display: inline-block;
}
.main-login-form {
  position: relative;
}
.job-form-1 .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  height:auto;
}
.job-form-1 .form-group {
  margin-bottom: 0;
  border-bottom: 2px solid #efefef;
  padding-right: 20px;
  position: relative;
}
.job-form-1 .form-group:last-child {
  border-bottom: 0;
}
.job-group {
  background: #ffffff;
  color: #999999;
  border-radius: 8px;
  padding: 10px 20px;
}
/*=== 5. Login Button ===*/
.job-form-1 .job-button {
  right: -25px;
  top: 50%;
  background: #ffffff;
  color: #322F30;
  margin-left: 11px;
  border: 5px solid #efefef;
  transition: all ease-in-out 500ms;
}
.job-form-1 .job-button:hover {
  color: #555555;
}
.job-form-1 .job-button.clicked {
  color: #555555;
}
.job-form-1 .job-button.clicked:hover {
  transform: none;
}
.job-form-1 .job-button.clicked.success {
  color: #2ecc71;
}
.job-form-1 .job-button.clicked.error {
  color: #e74c3c;
}

.select {
  border: 1px solid #efefef !important;
  color: #2B2728 !important;
}
/*
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #B9B9B9;
    color: #322F30;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}*/
