<div class="content">
  <mat-app-background fxLayout="column" fxLayoutAlign="center center">
    <h2 mat-dialog-title>{{ 'user.title' | translate }}</h2>
    <form [formGroup]="userForm" class="form" method="POST" enctype="multipart/form-data">
      <mat-form-field>
        <input matInput type="email" placeholder="{{ 'user.email.placeholder' | translate }}"
               [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{ 'user.email.error' | translate  }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="{{ 'user.name.placeholder' | translate }}"
               [formControl]="name" required>
        <mat-error *ngIf="name.invalid">{{ 'user.name.error' | translate  }}</mat-error>
      </mat-form-field>

      <div *ngIf="userRolesForm">
      <mat-list formGroupName="userRoles">
        <mat-list-item *ngFor="let userRole of roles">
          <span>
            <mat-checkbox style="width:45%" [labelPosition]="after" [compareWith]="compareRole"
                          [formControlName]="userRole.idRole">{{ userRole.description }}</mat-checkbox>
          </span>
        </mat-list-item>
      </mat-list>
      </div>
    </form>

    <button mat-raised-button color="primary" (click)="onSubmit()">
      {{ 'user.submit' | translate }}
    </button>
  </mat-app-background>
</div>
