/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/prebuilt-themes/purple-green.css';*/

.cdk-overlay-container {
    z-index: 99999 !important;
}

.mat-list-base .mat-list-item.mat-2-line, .mat-list-base .mat-list-option.mat-2-line {
    height: unset !important;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    height: 40px !important;
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
    padding: unset !important;
}

.mat-form-field {
  width: 100% !important;
}

.form {
  border-radius: 5px;
  background-color: white;
  margin: 7px;
}

tr.mat-row {
  height: unset !important;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 1em;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 5px !important;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding-right: 5px !important;
}

.mat-table {
  width: 100%;
}

.container {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.jumbotron {
  padding-top: 0px !important;
  padding: 0.25rem 1rem !important;
  margin-bottom: 0rem !important;
}

.table {
  margin-bottom: 0.25rem !important;
}

table th {
  padding: 0.25rem !important;
  height: 10px;
  border-top: none !important;
  text-align: center;
}

/*table td {
  padding: 0px !important;
  vertical-align: initial !important;
  border-top: 0px !important;
}*/

.content {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(230, 232, 235, 0.75) !important;
}

.form {
  opacity: 1.0 !important;
}

h2 {
  color: #2B2728;
  font-family: Arial;
  font-size: 150%;
}
/*=== 9. Misc ===*/
.logo {
  padding: 5px 0;
  font-size: 20px;
  color: #2B2728;
  font-family: Courier, monospace;
  font-weight: bold;
  margin-left: 11px;
  text-align: center;
}

.mat-h1, .mat-headline, .mat-typography h1 {
  text-align: center;
}

/*.form .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  height:auto;
}
.form .form-group {
  margin-bottom: 0;
  border-bottom: 2px solid #efefef;
  position: relative;
}
.form .form-group:last-child {
  border-bottom: 0;
}

.group {
  background: #ffffff;
  color: #999999;
  border-radius: 8px;
  padding: 10px 20px;
}*/

/*=== 5. Login Button ===*/
.submit-button {
  right: -25px;
  top: 50%;
  font-weight: bold;
  transition: all ease-in-out 500ms;
  margin-top: 10px;
}

.mdc-card__media--square::before {
    margin-top: 65% !important;
}

.mdc-card__actions {
  padding:0px !important;
  min-height: auto !important;
}

.mdc-icon-button {
  height: 35px !important;
  padding: 0px !important;
  font-size: 0px !important;
}
