/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

.container {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.jumbotron {
  padding-top: 0px !important;
  padding: 0.25rem 1rem !important;
  margin-bottom: 0rem !important;
}

.table {
  margin-bottom: 0.25rem !important;
}

table th {
  padding: 0.25rem !important;
  height: 10px;
  border-top: none !important;
  text-align: center;
}

table td {
  padding: 0px !important;
  vertical-align: initial !important;
  border-top: 0px !important;
}

.content {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(230, 232, 235, 0.75) !important;
}

.form {
  opacity: 1.0 !important;
}

h2 {
  color: #2B2728;
  font-family: Arial;
  font-size: 150%;
}
/*=== 9. Misc ===*/
.logo {
  padding: 5px 0;
  font-size: 20px;
  color: #2B2728;
  font-family: Courier, monospace;
  font-weight: bold;
  margin-left: 11px;
  text-align: center;
}

.form .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  height:auto;
}
.form .form-group {
  margin-bottom: 0;
  border-bottom: 2px solid #efefef;
  position: relative;
}
.form .form-group:last-child {
  border-bottom: 0;
}

.group {
  background: #ffffff;
  color: #999999;
  border-radius: 8px;
  padding: 10px 20px;
}

/*=== 5. Login Button ===*/
.submit-button {
  right: -25px;
  top: 50%;
  /*background: #ffffff;
  color: #6c757d;*/
  font-weight: bold;
  /*border: 5px solid #B9B9B9;*/
  transition: all ease-in-out 500ms;
  margin-top: 10px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948 !important; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442 !important; /* red */
}

.mdc-card__media--square::before {
    margin-top: 65% !important;
}

.mdc-card__actions {
  padding:0px !important;
  min-height: auto !important;
}

.mdc-icon-button {
  height: 35px !important;
  padding: 0px !important;
  font-size: 0px !important;
}
